html {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16pt;
	color: #1c1c1c;
	background-color: #f5f5f5;
}

a {
	color: #007A74;
	text-decoration: none;
}

div#page {
	margin: 60pt auto;
	width: 600pt;
}

header {
	margin-bottom: 30pt;
	font-size: 40pt;
	font-weight: 100;
	text-align: center;
}
