/* CSS support shouldiprefix.com */

/* There is no way to extend the gradient (unlike solid colors) beyond the viewport to the white browser scroll bounce background. */
#stripe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* #cols margin + #description min-width */
  min-width: 29.7em;
  height: 0.3em;

  background-image: linear-gradient(to right, #89BEC7, #E39059, #E38FAC);
}

body {
  background-color: #031018;

  /* Default text settings */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: white;
  /* Type weight 100-900 in 100 increments; Medium is 500: http://www.webtype.com/info/articles/fonts-weights/ */
  font-weight: 500;
  line-height: 1.7;
  /* Disable auto text size increase on mobile to control it more finely with media queries. This also fixes that #verb was a different size from paragraph text. */
  text-size-adjust: none;

  margin: 0;
}

p {
  margin: 0.8em 0;
}

#cols {
  display: flex;
  flex-wrap: wrap;
  margin: 1.2em;
}

#col1 {
  flex: 25%;
}

#col2 {
  flex: 75%;
}

#col2 * {
  max-width: 45em;
}

#col2 img {
  width: 100%;
}

#name {
  font-size: 160%;
  font-weight: 700;
  letter-spacing: -0.055em;
  margin: 2em 0 0 0;
}

#title {
  color: #666;
  letter-spacing: 0.1em;
  margin: -0.5em 0 0 0;
  min-width: 12em;
}

#description {
  margin: 5.3em 0 0 0;
  min-width: 28.5em;
}

#contact {
  list-style-type: none;
  margin: 0.4em 0;
  padding: 0;
}

#contact li {
  float: left;
  margin: 0 0.5em 0 0;
}

#contact img {
  width: 0.8em;

  /* B: 40% = #666 */
  -webkit-filter: brightness(40%);
  filter: brightness(40%);

  /* On mouse out, initial state is w/o transition. */
  transition: 0.2s;
}

#contact img:hover {
  /* On mouse in */
  transition: 0.1s;

  -webkit-filter: none;
  filter: none;
}

#contact img:active {
  -webkit-transform: translateY(0.05em);
  -ms-transform: translateY(0.05em);
  transform: translateY(0.05em);
}

#verb {
  display: inline-block;
  width: 2.35em;
  letter-spacing: 0.001em;
}

.specialty {
  /* Thicker underline than with text-decoration. */
  /*border-bottom-style: solid;*/
  border-color: #666;
  border-width: 0.1em;
  padding: 0 0 0.15em 0;
}

/* Box -- https://3dtransforms.desandro.com */
#scene {
  width: 6em;
  /* The height is repeated (hardcoded) as line-height for the faces. */
  height: 2em;

  display: inline-block;
  vertical-align: -34%;
  margin: 0 -0.2em -0.15em -0.2em;

  /* The smaller the number, the "bigger" the 3D effect. */
  -webkit-perspective: 20em;
  -ms-perspective: 20em;
  perspective: 20em;

  cursor: text;
}

#object {
  /* Move transform origin to the center of the scene. */
  width: 100%;
  height: 100%;

  display: inline-block;

  /* Pass perspective on to all children. */
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;

  transition: transform 0.8s ease-in;
}

/* Faces */
#object span {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;

  /* We currently only show images on the faces, if we were to show text and want it to be centered:
  text-align: center;
  line-height: 2em; */

  /* If side colors have alpha and the backfaces are not hidden, the object is translucent. */
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

#object img {
  /* Center image */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

#object .bottom img {
  width: 1em;
}

/* Setup */
#object .front {
  background: #89BEC7;
  
  -webkit-transform: translateZ(1em);
  -ms-transform: translateZ(1em);
  transform: translateZ(1em);
}

#object .back {
  background: #E2A8BC;

  -webkit-transform: rotateX(-180deg) translateZ(1em);
  -ms-transform: rotateX(-180deg) translateZ(1em);
  transform: rotateX(-180deg) translateZ(1em);
}

#object .top {
  background: #F0CA8D;

  -webkit-transform: rotateX(90deg) translateZ(1em);
  -ms-transform: rotateX(90deg) translateZ(1em);
  transform: rotateX(90deg) translateZ(1em);
}

#object .bottom {
  background: #AAA;

  -webkit-transform: rotateX(-90deg) translateZ(1em);
  -ms-transform: rotateX(-90deg) translateZ(1em);
  transform: rotateX(-90deg) translateZ(1em);
}

#object .right {
  -webkit-transform: rotateY(90deg) translateZ(3em);
  -ms-transform: rotateY(90deg) translateZ(3em);
  transform: rotateY(90deg) translateZ(3em);
}

#object .left {
  -webkit-transform: rotateY(-90deg) translateZ(3em);
  -ms-transform: rotateY(-90deg) translateZ(3em);
  transform: rotateY(-90deg) translateZ(3em);
}

#object .right, #object .left {
  background: #000;

  width: 2em;
  left: 2em;
}

/* Transforms */
#object.show-front {
  -webkit-transform: translateZ(-3em);
  -ms-transform: translateZ(-3em);
  transform: translateZ(-3em);
}

#object.show-back {
  /* +0.001 to force Safari to not rotate "backwards". Doesn't work for FF. */
  -webkit-transform: translateZ(-3em) rotateX(-180.001deg);
  -ms-transform: translateZ(-3em) rotateX(-180.001deg);
  transform: translateZ(-3em) rotateX(-180.001deg);
}

#object.show-top {
  -webkit-transform: translateZ(-3em) rotateX(-90deg);
  -ms-transform: translateZ(-3em) rotateX(-90deg);
  transform: translateZ(-3em) rotateX(-90deg);
}

#object.show-bottom {
  -webkit-transform: translateZ(-3em) rotateX(90deg);
  -ms-transform: translateZ(-3em) rotateX(90deg);
  transform: translateZ(-3em) rotateX(90deg);
}

#object.show-right {
  -webkit-transform: translateZ(-3em) rotateY(-90deg);
  -ms-transform: translateZ(-3em) rotateY(-90deg);
  transform: translateZ(-3em) rotateY(-90deg);
}

#object.show-left {
  -webkit-transform: translateZ(-3em) rotateY(90deg);
  -ms-transform: translateZ(-3em) rotateY(90deg);
  transform: translateZ(-3em) rotateY(90deg);
}

/* Mailchimp Signup Form */
#mc_embed_signup {
  margin-bottom: 2.4em;
}

#mc_embed_signup p {
  margin-bottom: 0.2em;
}

#mc_embed_signup input.email {
  color: #fff;
  background-color: inherit;
  border: 0.05em solid #666;
  height: 1.9em;
  vertical-align: middle;
  font-size: inherit;
  font-weight: inherit;
  text-indent: 0.4em;
  padding: 0 0 0.1em 0;
  margin: 0.4em 0.1em 0.4em 0;
  width: 30%;
  min-width: 10em;
}

#mc_embed_signup input.button {
  /* Hard-coded repetition of body background-color. */
  color: #031018;
  background-color: #666;
  /* Required configuration to prevent rounding on mobile. */
  border: 0 none;
  border-radius: 0;
  -webkit-appearance: button;
  height: 2.865em;
  vertical-align: middle;
  text-align: center;
  font-size: 70%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-weight: 700;
  width: 8.571em;

  cursor: pointer;

  /* On mouse out, initial state is w/o transition. */
  transition: 0.2s;
}

#mc_embed_signup input.button:hover {
  background-color: #fff;

  /* On mouse in */
  transition: 0.1s;
}

@media only screen and (max-device-width: 736px) {
  body {
    font-size: 200%;
  }
  #contact li {
    margin: 0 0.8em 0 0;
  }
  #contact img {
    width: 1em;
  }
}

@media only screen and (min-width: 1600px) {
  body {
    font-size: 150%;
  }
}

@media only screen and (max-width: 1007px) {
  #description {
    margin-top: 1.6em;
  }
}
